<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>svnman</title>
		<link type="text/css" href="/site_media/css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	
		<link type="text/css" href="/site_media/css/svnman.css" rel="stylesheet" />
		<script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js"></script> 
		<script type="text/javascript" src="/site_media/js/jquery-ui-1.7.2.custom.min.js"></script>
		<script type="text/javascript" src="/site_media/js/svnman.js"></script>
	</head>
	<body>
		<h1>SVN权限检查</h1>
		<div class="evalcall">
			<label for="txtValue">UserName:</label>
			<input type="TEXT" name="txtUserName" value="" id="txtUserName" />
			<br/>
			<label for="txtPwd">PassWord:</label>
			<input type="PASSWORD" name="txtPassword" value="" id="txtPassword" />
			<br/>
			<input type="BUTTON" name="Query" value="Query" id="Query" />
			<div id="evalcall"></div>
		</div>
		<div class="display" id="display">
			<!--{% for o in actionlist %}
			<li> {{ o.name }} </li>
			{% endfor %}
			-->
		</div>

		<!--
		<h1>ForeverGIS</h1>
		<div id = "actiontabs">
			{% if actionlist %}
			<ul>
				{% for action in actionlist %}
				<li><a href="#tabs-{{action.name}}">{{action.name}}</a></li>
				{% endfor %}
			</ul>
			{% for action in actionlist %}
			<div id = "tabs-{{action.name}}">{{action.name}}</div>
			{% endfor %}
			{% else %}
			<p>No actions are available.</p>
			{% endif %}
		</div>
		-->
	</body>
</html>
